.carousel {

    // background-color: rgb(17 24 39);

    .slick-list {
    //    padding:0 0 1rem ;
       overflow: inherit;
       overflow-x: clip ;
    }

    .slick-slide {
        padding: 0.3rem; 
    }

    .slick-slide:hover {
        position: relative;
        z-index: 10;
    }

    // .slick-list {
    //     overflow-y: visible !important;
    // }
}

.slick-next {
    right: 0rem !important;
    z-index: 9999;
    height: 100% !important;
    width: 3rem !important;
    top:40% !important;
    // background: grey !important;
}

.slick-prev {
    left: 0rem !important;
    z-index: 9999;
    height: 100% !important;
    width: 3rem !important;
    top: 40% !important;
    // background: grey !important;
}


.slick-next:before {
    content: '❭' !important;
    background: black !important;
}

.slick-prev:before {
    content: '❬' !important;
    background: black !important;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0 !important;
}

.slick-prev:before,
.slick-next:before {
    
    font-size: 50px !important;
    line-height: 0 !important;
    opacity: .4 !important;
    // color: white;
    
    padding: 58px 16px 84px;
}



.slick-prev:hover:before,
.slick-next:hover:before
{
    
    // background: black !important;
    opacity: .6 !important;
}

.blue-title{
    color: #00A8E1;
}